.fundo {
    -fx-background-color: white;
}

.botao_padrao {
   -fx-background-color: #6083DB;
    -fx-background-radius: 11;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-color: #f1f1f1;
    -fx-pref-width: 140;
    -fx-transition: background-color 2s ease-in-out;
}

.botao_padrao:hover {
     -fx-background-color: #3f5da3;
     -fx-background-radius: 10;
}

.botao_padrao:pressed {
    -fx-background-color: #e1d5d5;
    -fx-background-radius: 10;
}

.pane {

    -fx-background-color: linear-gradient(to bottom, #6083DB, rgba(4, 12, 63, 0.64));
}

.label_padrao {
    -fx-font-family: "High Tower Text";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}


.label_titulo {
    -fx-font-family: "Myriad Pro Light";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.text-field {
    -fx-background-color: #e7e7ef;
    -fx-background-radius: 10;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-color: #6083DB;
    -fx-font-family: "Adobe Caslon Pro";
    -fx-font-size: 14px;
}

.check-box {
    -fx-font-family: "Myriad Pro Light";
    -fx-font-size: 14px;
    -fx-font-weight: 100;
    -fx-text-fill: #000000;
}

.check-box .box {
    -fx-background-color: #aab8fc;
    -fx-border-width: 1px;
}

.choice-box {
    -fx-background-color: #e7e7ef;
    -fx-background-radius: 10;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-color: #6083DB;
    -fx-font-family: "Adobe Caslon Pro";
    -fx-font-size: 14px;
}

.table-view{
    -fx-background-color: #e7e7ef;
    -fx-border-style: solid;
    -fx-border-radius: 3;
    -fx-border-color: #6083DB;
}

.table-view .column-header {
    -fx-background-color: #6083DB;
    -fx-background-radius: 3;
    -fx-border-style: solid;
    -fx-border-color: #1c0303;
    -fx-border-radius: 3;
}
.table-view.table-cell {
    -fx-font-family: "High Tower Text";
    -fx-font-size: 12px;
    -fx-alignment: center;
    }
.table-view .table-row-cell:odd {
    -fx-background-color: #c1dfff;
}

.table-view .table-row-cell:even {
    -fx-background-color: #99aee5;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
}
.check-box-livros {
    -fx-pref-width: 150;
    -fx-background-color: #e7e7ef;
    -fx-background-radius: 10;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-color: #6083DB;
    -fx-padding: 5;
    -fx-text-alignment: center;
}

.check-box-livros .box {
    -fx-background-color: none;
}

.bt-busca {
    -fx-background-color: white;
    -fx-background-radius: 11;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-color: #f1f1f1;
    -fx-pref-width: 50;
}
.bt-busca:hover {
    -fx-background-color: #6083DB;
}
.text-field-avaliacao {
    -fx-background-color: #e7e7ef;
    -fx-background-radius: 10;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-color: #6083DB;
    -fx-font-family: "Adobe Caslon Pro";
    -fx-font-size: 14px;
    -fx-pref-width: 50;
}

.botao_padrao-excluir {
    -fx-background-color: #c70101;
    -fx-background-radius: 11;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-color: #f1f1f1;
    -fx-pref-width: 140;
    -fx-pref-height: 24;
    -fx-transition: background-color 2s ease-in-out;
}

.botao_padrao-excluir:hover {
    -fx-background-color: #5e1f1f;
    -fx-background-radius: 10;
}

.botao_padrao-excluir:pressed {
    -fx-background-color: #e1d5d5;
    -fx-background-radius: 10;
}

.vBox {
    -fx-border-style: solid;
    -fx-border-radius: 18;
    -fx-border-color: #6083DB;
}
.menuBar {
    -fx-background-color: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-transition: background-color 2s ease-in-out;

}
